body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.contentwrapper {
  width: 100%;
  margin: auto;
  border: 1px solid #523e33;
  
}

.stpheader {
  background-color: #4070c8;
  display: flex;
}

.stpheader img{
  width: 75px;
  height: 75px;
  padding: 1em;
}

.body-content-wrapper {
  padding:2rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #fff;
  margin: .50em 0 0 0;
  padding: 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #4070c8;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.5em;
}

.primarynav {
  background-color: #94c840;  
}

.primarynav nav {
  margin: 0;
  float: left;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primarynav ul li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

.primarynav ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: .3em .60em;
}

ul li a:hover {
  background-color: #c9c9c9;
  color: #fff;
}


.rightnav {
  float: right;
}


 .group:after {
   content: "";
   display: table;
   clear: both;
 }

 .center {
   margin: 0;
   padding: 0;
   background-color: #fff;
 }

 .centerimg {
   width: 100%;
   margin: 0;
 }

.DerekJenkins {
  width:200px;
  height: 150px;
}

.AmySmith {
  width: 200px;
  height: 150px;
}

.NathanLee {
  width: 200px;
  height: 150px;
}

/*  Three grid section for instructor information  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

  

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*Footer styles begins here*/

footer {
  background-color: #c9c9c9;

}

footer div {
  display: flex;
}

footer h4 {
  margin: 0;
  padding: 0;
}

footer ul {
  list-style-type: none;
}

footer p {
  padding: 0.20em;
  margin: 0;
}

footer ul li {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

footer ul li a {
  text-decoration: none;
  color: #000;
}

footer ul li a:hover {
  text-decoration: underline;
  color: #000;
}

.footunit {
  flex: 1;
  padding: 1em;
  border-right: 1px solid #4a4848;
}

.socialmedia {
  padding: 0 .20em;
}

.socialmedia i {
  padding-right: .5em;
}

.footunit2 {
  flex: 2;
  padding: 1em;
}

.copyright {
  text-align: center;
}

/*Footer styles end here*/
