
/*  SECTIONS  ============================================================================= */

.section-services {
	clear: both;
	padding: .75%;
	margin: .5%;
}

.section-services_m {
	clear: both;
	padding: 0 1% 1% 1%;
	margin: 0 1% 1% 1%;
}

/*  GROUPING  ============================================================================= */


.group-services:before,
.group-services:after {
    content:"";
    display:table;
}
.group-services:after {
    clear:both;
}
.group-services {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */


.col-services {
	display: block;
	float:left;
	margin: 1% 1.7 1% 1.6%;
/*	margin: 1% 0 1% 0;*/
}


.col-services:first-child { margin-left: 0; padding-right:.5%} /* all browsers except IE6 and lower */
.col-services:nth-child(2) { margin-left: 1.7%; padding-right:.5%}
/*custom layout mod (i.e., the 3rd child in the column) designed so that the informational text beneath the image is left-justified */
/*.col:nth-child(3) { margin-left: 0; }*/

.col-services_f {
	display: block;
	float:left;
	margin: 1% 1.7 1% 1.6%;
/*	margin: 1% 0 1% 0;*/
}


.col_iL {
	display: block;
	float:left;
	margin: 0 1.7% 0 0;
}

.col_iR {
	display: block;
	float:left;
	margin: 0 1.7% 0 0;
}

.col_hL {
    display: block;
	float:left;
    font-size:14px;
   /* margin: 1.7% 1.7% 1% 2.7%;*/
    margin: 1% 1.7% 1% 2.7%;
}

.col_hR {
    display: block;
	float:left;
    font-size:14px;
 /*   margin: 1.7% 1.7% 1% 0;*/
    margin: 1% 1.7% 1% 2.7%;
}

.col_lL {
    display: block;
	float:left;
    font-size:16px;
 /*   margin: 1.7% 1.7% 1% 7.2%;*/
    margin: 0 1.7% 1% 7.2%;
    padding-bottom:1%;
    padding-top:1%;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}

.col_lR {
    display: block;
	float:left;
    font-size:16px;
   /* margin: 1.7% 1.7% 1% 9.7%;*/
    margin: 0 1.7% 1% 9.7%;
    padding-bottom:1%;
    padding-top:1%;
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}


.col_l a {
    text-decoration: none;
}

.col-services img {
    max-width:98%;
    height:auto;
}



@media only screen and (max-width: 479px) {
    .col_iR {
	   display: block;
	   float:left;
	   margin: 1.7% 1.7% 1% 0;
    }  
    /*adjust margins to bring grid in line when the rest of the page when browser gets below 480px*/
    .col_lL {
        display: block;
	    float:left;
        font-size:16px;
      /*  margin: 1.7% 1.7% 1% 0;*/
        margin: 0 1.7% 1% 0;
        padding-bottom:1%;
        padding-top:1%;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px lightgray;
    } 
    .col_lR {
        display: block;
	    float:left;
        font-size:16px;
       /* margin: 1.7% 1.7% 1% 0;*/
        margin: 0 1.7% 1% 0;
        padding-bottom:1%;
        padding-top:1%;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px lightgray;
    }

    .col_hL {
    display: block;
	float:left;
    font-size:14px;
   /* margin: 1.7% 1.7% 1% 0;*/
    margin: 1% 1.7% 1% 0;
    }
    .col_hR {
    display: block;
	float:left;
    font-size:14px;
    /*margin: 1.7% 1.7% 1% 0;*/
    margin: 1% 1.7% 1% 0;
    }
}

@media only screen and (max-width: 800px) and (min-width: 480px) {
	.col-services { 
		margin: 1% 0 1% 0;
	}
	.col-services_f { 
		margin: 1% 0 1% 0;
	}
    .col_iR {
	   display: block;
	   float:left;
	   margin: 1.7% 1.7% 1% 0;
    }    
    .col_lL {
        display: block;
	    float:left;
        font-size:16px;
        /*margin: 1.7% 1.7% 1% 0;*/
        margin: 0 1.7% 1% 0;
        padding-bottom:1%;
        padding-top:1%;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px lightgray;
    }   
    .col_lR {
        display: block;
	    float:left;
        font-size:16px;
      /*  margin: 1.7% 1.7% 1% 0;*/
        margin: 0 1.7% 1% 0;
        padding-bottom:1%;
        padding-top:1%;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px lightgray;
    }

    .col_hL {
    display: block;
	float:left;
    font-size:14px;
   /* margin: 1.7% 1.7% 1% 0;*/
    margin: 1% 1.7% 1% 0;
    }
    .col_hR {
    display: block;
	float:left;
    font-size:14px;
  /*  margin: 1.7% 1.7% 1% 0;*/
    margin: 1% 1.7% 1% 0;
    }
}


